extends layout
block content
	include shoppingCart
	h1= book.title
	if (error)
		h2.alert-cl.center-tx= error
	.book1
		p= book.author
		p= book.price
		p= book.description
		p= book.category
		a.add-to-cart.dlt-btn(href="/cart/" + book.id) Add to cart